# Feature engineering is based on data analysis; see the notebook for details.ðŸš€

In [85]:
import numpy as np
import pandas as pd
import os
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import random
%matplotlib inline
warnings.filterwarnings("ignore")

In [86]:
# import file

dir=r"E:\Kaggle_data\Loan_predict"
train=pd.read_csv(os.path.join(dir,"train.csv"))
test=pd.read_csv(os.path.join(dir,"test.csv"))
sub_=pd.read_csv(os.path.join(dir,"sample_submission.csv"))
orig=pd.read_csv(os.path.join(dir,"loan_dataset_20000.csv"))

In [87]:
display(train.head())
display(test.head())
display(orig.head())

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

,age,gender,marital_status,education_level,annual_income,monthly_income,employment_status,debt_to_income_ratio,credit_score,loan_amount,...,loan_term,installment,grade_subgrade,num_of_open_accounts,total_credit_limit,current_balance,delinquency_history,public_records,num_of_delinquencies,loan_paid_back
0,59,Male,Married,Master's,24240.19,2020.02,Employed,0.074,743,17173.72,...,36,581.88,B5,7,40833.47,24302.07,1,0,1,1
1,72,Female,Married,Bachelor's,20172.98,1681.08,Employed,0.219,531,22663.89,...,60,573.17,F1,5,27968.01,10803.01,1,0,3,1
2,49,Female,Single,High School,26181.80,2181.82,Employed,0.234,779,3631.36,...,60,76.32,B4,2,15502.25,4505.44,0,0,0,1
3,35,Female,Single,High School,11873.84,989.49,Employed,0.264,809,14939.23,...,36,468.07,A5,7,18157.79,5525.63,4,0,5,1
4,63,Other,Single,Other,25326.44,2110.54,Employed,0.260,663,16551.71,...,60,395.50,D5,1,17467.56,3593.91,2,0,2,1

In [88]:
# display shape
display(f"shape of train<{train.shape}>")
display(f"shape of test<{test.shape}>")
display(f"shape of orig<{orig.shape}>")

'shape of train<(593994, 13)>'

'shape of test<(254569, 12)>'

'shape of orig<(20000, 22)>'

In [89]:
# revise orig data
orig["id"]=test.id.max()+1
test["loan_paid_back"]=0

display(f"shape of train<{train.shape}>")
display(f"shape of test<{test.shape}>")
display(f"shape of orig<{orig.shape}>")

data=pd.concat([train,test],axis=0)
display(f"shape of merged data <{data.shape}>")

'shape of train<(593994, 13)>'

'shape of test<(254569, 13)>'

'shape of orig<(20000, 23)>'

'shape of merged data <(848563, 13)>'

In [90]:
Features=train.columns
Features

Index(['id', 'annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'gender', 'marital_status',
       'education_level', 'employment_status', 'loan_purpose',
       'grade_subgrade', 'loan_paid_back'],
      dtype='object')

In [91]:
# display data

CAT,NUM,TARGET=[],[],["loan_paid_back"]
for col in data.columns.drop(["id","loan_paid_back"]):
    temp="NUM"
    if data[col].dtype=="object":
        CAT.append(col)
        temp="CAT"
    else:
        NUM.append(col)
    print(f"{col:20}[{temp}] {data[col].nunique():10} catgory{data[col].isna().sum():10} NAN")
Features=train.columns.drop(["id","loan_paid_back"]).tolist()

len(CAT),len(NUM),len(Features)

annual_income       [NUM]     151992 catgory         0 NAN
debt_to_income_ratio[NUM]        537 catgory         0 NAN
credit_score        [NUM]        402 catgory         0 NAN
loan_amount         [NUM]     138759 catgory         0 NAN
interest_rate       [NUM]       1489 catgory         0 NAN
gender              [CAT]          3 catgory         0 NAN
marital_status      [CAT]          4 catgory         0 NAN
education_level     [CAT]          5 catgory         0 NAN
employment_status   [CAT]          5 catgory         0 NAN
loan_purpose        [CAT]          8 catgory         0 NAN
grade_subgrade      [CAT]         30 catgory         0 NAN

(6, 5, 11)

In [105]:
# establish baseline with lightgbm

from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score

lgb_params={
    "colsample_bytree":0.8,
    "learning_rate":0.06,
    "objective":"binary",
    "metric":"auc",
    "max_depth":8,
    "min_child_samples":59,
    "is_unbalance":True,
    "n_estimators":2000,
    "subsample":0.76,
    "verbose":500,
    "random_state":42
}

In [93]:
def set_model(model_name,params):
    match model_name:
        case "lgb":
            from lightgbm import LGBMClassifier
            return LGBMClassifier(**params)
        case _:
            raise ValueError(f"Unknown Name < {mdoel_name} >")

In [94]:
def cv_train(model_name,params,enable_catrgorical=True,SEED_5=5,SEED=42,cv=7,train=train.copy(),test=test.copy()):
    oof_preds=np.zeros(len(train))
    test_preds=np.zeros(len(test))
    random.seed(SEED)
    seeds=random.sample(np.arange(len(train)).tolist(),SEED_5)

    kf=StratifiedKFold(n_splits=cv,random_state=SEED,shuffle=True)
    for i,(train_idx,val_idx) in enumerate(kf.split(train,train[TARGET])):
        print(f"< {i+1}/{cv} > is training !")
        if enable_catrgorical:
            train[CAT]=train[CAT].astype("category")
            test[CAT]=test[CAT].astype("category")
        
        x_train,y_train=train.iloc[train_idx][Features],train.iloc[train_idx][TARGET]
        x_val,y_val=train.iloc[val_idx][Features],train.iloc[val_idx][TARGET]
        x_test=test[Features]
        
        # 5 seed trainings â€”â€” Ensure stable results
        for _ in seeds:
            model=set_model(model_name,params)
            model.fit(x_train,y_train)
            val_preds=model.predict_proba(x_val)[:,1]
            preds=model.predict_proba(x_test)[:,1]
            
            oof_preds[val_idx]+=val_preds/len(seeds)
            test_preds+=preds/len(seeds)/cv
        print(f"AUC is {roc_auc_score(y_val,oof_preds[val_idx]):.5f}\n")
    print(f"ðŸ”¥overall AUC is {roc_auc_score(train[TARGET],oof_preds):.5f}ðŸš€")
    return oof_preds,test_preds

In [95]:
def to_submission(oof_preds,test_preds,desc):
    sub_["loan_paid_back"]=test_preds
    sub_.to_csv(f"./ensemble/{desc}_test.csv",index=False)

    df={"id":np.arange(len(oof_preds)),
       "oof_preds":oof_preds}
    df=pd.DataFrame(df)
    df.to_csv(f"./ensemble/{desc}_oof.csv",index=False)

In [96]:
# lgb
oof_preds,test_preds=cv_train("lgb",lgb_params)

< 1/7 > is training !
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

KeyboardInterrupt:

In [ ]:
os.makedirs("./ensemble",exist_ok=True)
to_submission(oof_preds,test_preds,"Single_lgb_baseline")